@page
@model Animation_test.Pages.Index1Model
@{
}


<style>
#myContainer, #myContainer2 {
  width: 300px;
  height: 300px;
  position: relative;
  background: blue;
}
#myAnimation, #myAnimation2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  background-color: red;
}
</style>

<p>
<button onclick="myBounce()">Click Me</button> 
</p>
<p>
<button onclick="stop()">Stop</button> 
</p>



@*Maybe if I make this use classes instead of IDs I can use the same class name for both :oooo idk though*@
<div id ="myContainer">
    <div id ="myAnimation"></div>
</div>



<script>

    var id = null;

    //function myMove() 
    //    {
    //        var elem = document.getElementById("myAnimation");   
    //        var pos = 0;
    //        clearInterval(id);
    //        id = setInterval(frame, 5); 

    //        function frame() 
    //            {
    //                if (pos == 250) 
    //                { 
    //                    clearInterval(id); 
    //                } 
    //                else 
    //                {  
    //                    pos++; 
    //                    elem.style.top = pos + 'px'; 
    //                    //elem.style.left = pos + 'px'; 
    //                }
    //            }
    //    }


    function myBounce() 
    {
        var element = document.getElementById("myAnimation");
        var position = 0;
        clearInterval(id);
        id = setInterval(bounce, 1);
        //setting variables, setting frame rate, setting position, getting element of the cube which will be animated
        function bounce() 
        
        {
            if (position == 0) 
            {

                while (position != 250)
                {
                    position++;
                    element.style.top = position + "px";
                }
            }
            else if (position == 250) 
            {
                while (position != 0) 
                {
                    position--;
                    element.style.top = position + "px";
                }
            }
        }
    }




</script>


